@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff3f33;
  --color-secondary: #b87c4c;
  --color-base-200: #ffe6e1;
}
